/* <!-- ❗ ABRE RESET --> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
/* <!-- FECHA RESET --> */

/* <!-- ❗ ABRE HEADER --> */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}
.header img {
  width: 320px;
  margin-bottom: 50px;
}
.header .header-texto {
  width: 90%;
  text-align: center;
}
.header .texto-main {
  color: red;
}
.header h2 {
  font-size: 20px;
  color: whitesmoke;
  line-height: 2;
}
/* <!-- FECHA HEADER --> */

/* <!-- ❗ ABRE VIDEO --> */
.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.video h3 {
  color: whitesmoke;
}
.video h3 span {
  font-size: 20px;
  color: whitesmoke;
}
/* <!-- FECHA VIDEO --> */

/* <!-- ❗ ABRE NFT-INFOS --> */
.nft-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nft-infos a {
  padding: 20px 40px;
  border-radius: 2px;
  background-color: #fce000;
  margin: 100px 0px;
}
.nft-infos .button span {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: whitesmoke;
  text-shadow: 0 0 20px #111, 0 0 20px #111;
}
.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infos .nft img {
  height: 500px;
  margin-bottom: 50px;
}
.infos .texto-nft {
  font-size: 20px;
  width: 80%;
  text-align: center;
  line-height: 1.5;
}
.infos .texto-nft h4 {
  color: whitesmoke;
  text-shadow: 0 0 20px #ccc, 0 0 20px #ccc;
}
.infos .texto-nft p {
  color: whitesmoke;
}
.infos .texto-nft span {
  color: yellow;
}
.close {
  display: none;
}
/* <!-- FECHA NFT-INFOS --> */

/* <!-- ❗ ABRE FOOTER --> */
.footer-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-infos .infos img {
  width: 319px;
}
.infos .texto-footer p {
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
}
.footer-infos .footer p {
  font-size: 20px;
  margin-bottom: 50px;
  color: whitesmoke;
}
/* <!-- FECHA FOOTER --> */

/* <!-- ❗ ABRE MOBILE --> */
@media (max-width: 767px) {
  /* <!-- ❗ ABRE HEADER --> */
  .header img {
    width: 319px;
  }
  .header {
    margin: 20px 0px;
  }
  .header h1 {
    font-size: 30px;
  }
  .header h2 {
    font-size: 13px;
  }
  .header h2 span {
    font-size: 18px;
  }
  /* <!-- FECHA HEADER --> */

  /* <!-- ❗ ABRE VIDEO --> */
  .video {
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    height: 280px;
  }
  .video iframe {
    width: 350px;
  }
  .video h3 span {
    font-size: 20px;
    color: whitesmoke;
  }
  /* <!-- FECHA VIDEO --> */

  /* <!-- ❗ ABRE NFT-INFOS --> */
  .nft-infos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nft-infos a {
    padding: 20px 40px;
    border-radius: 2px;
    background-color: #fce000;
    margin: 20px 0px;
  }
  .nft-infos .button span {
    font-size: 16px;
  }
  .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .infos .nft img {
    height: 300px;
    margin-bottom: 50px;
  }
  .infos .texto-nft {
    font-size: 18px;
    width: 90%;
  }
  /* <!-- FECHA NFT-INFOS --> */

  /* <!-- ❗ ABRE FOOTER --> */
  .footer-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-infos .infos img {
    width: 319px;
  }
  .footer-infos .texto-footer p {
    font-size: 12px;
  }
  .footer-infos .footer p {
    font-size: 16px;
  }
  /* <!-- FECHA FOOTER --> */
}
/* <!-- FECHA MOBILE --> */
